/* ./src/index.css */

@tailwind base;
@tailwind components;
.inputFrame {
  @apply w-full content-center text-base px-4 py-2 border-b rounded-2xl border-gray-300;
}

.inputFrame:focus {
  @apply outline-none border-indigo-500;
}

.btn {
  @apply w-full flex justify-center bg-gradient-to-r from-indigo-500 to-blue-600 text-gray-100 p-4 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500;
}

.btn:hover {
  @apply bg-gradient-to-l from-blue-500 to-indigo-600;
}

.label {
  @apply ml-3 text-sm font-bold text-gray-700 tracking-wide;
}

@tailwind utilities;
